[submodule "vendor/gera"]
	path = vendor/gera
  url = https://github.com/finfex/gera.git
[submodule "vendor/openbill-core"]
	path = vendor/openbill-core
	url = https://github.com/openbill-service/openbill-core.git
