= link_to '&larr; назад в список платежных систем'.html_safe, operator_payment_systems_path
hr
.page-header
  h2 Создаем новую платежную ситсему

= render 'form', payment_system: payment_system, columns: edit_columns
br
.alert.alert-info Сохраните форму, чтобы иметь возможность редактировать банки карт заршеренные к приему
