.float-right= link_to 'Добавить новую ПС', new_payment_system_path, class: 'btn btn-success' if current_user.has_permission?(Gera::PaymentSystem, :create)
h1= t('.payment_systems')
.clearfix
.mt-2
  = render 'table', scope: payment_systems, decorator_class: PaymentSystemDecorator, columns: columns, allow_edit: true
